* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #b993d6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #8ca6db,
        #b993d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #8ca6db,
        #b993d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    text-align: center;
}
.container {
    position: relative;
    width: 650px;
    display: flex;
}
::placeholder {
    color: black;
    font-weight: lighter;
    font-size: smaller;
}
input {
    border-radius: 2px;
    background: whitesmoke;
    border: 1px solid transparent;
    outline: none;
    width: 200px;
    padding: 5px;
    border-bottom: 1px solid darkblue;
    transition: all 0.3s ease-in-out;
}

input:focus {
    border: 1px solid darkblue;
}
input:focus::placeholder {
    color: transparent;
}
.form-container {
    width: 100%;
    height: 350px;
}
form > * {
    margin: 10px 0;
}

.form-container form {
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    /* margin: 10px; */
}
.form-container:nth-child(1) form {
    border-radius: 5px 0 0px 5px;
}
.form-container:nth-child(2) form {
    border-radius: 0px 5px 5px 0px;
}
.form-btn {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin-top: 20px;
    transition: transform 0.1s ease-in-out;
}
.form-btn:hover {
    transform: scale(1.1);
    border: 1px solid darkcyan;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    /* background: darkblue; */
}
.signin-overlay {
    border-radius: 0px 5px 5px 0px;
    pointer-events: auto;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    background: linear-gradient(to right, #512da8, #673ab7);
    right: 0;
}
.signup-overlay {
    border-radius: 5px 0 0px 5px;
    pointer-events: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    width: 50%;
    height: 100%;
    flex-direction: column;
    color: white;
    background: linear-gradient(to right, #512da8, #673ab7);
    left: 0;
    /* transform: scaleX(0);
    transform-origin: left; */
}
.ol-btn {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: #8e2de2;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
}

.ol-btn:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.ol-si-active {
    border-radius: 5px 0 0px 5px;
    right: 50%;
    z-index: -1;
}

.ol-su-active {
    border-radius: 0px 5px 5px 0px;
    left: 50%;
    z-index: -1;
}

@media screen and (max-width: 670px) {
    .container {
        width: 500px;
    }
}
@media screen and (max-width: 510px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 77%;
        height: 450px;
    }
    input {
        width: 70%;
    }
    .form-container {
        height: 85%;
        padding: 10px;
    }

    .form-container:nth-child(2) form {
        border-radius: 5px;
    }
    .form-container:nth-child(1) form {
        border-radius: 5px;
    }
    .overlay {
        display: block;
        height: 15%;
        width: 100%;
        bottom: 0;
    }
    .signin-overlay {
        z-index: 2;
        position: absolute;
        opacity: 1;
        visibility: visible;
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .signup-overlay {
        border-radius: 0 0 5px 5px;
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    .mobile-inactive {
        display: none;
    }

    .ol-si-active {
        right: 0;
        opacity: 0;
        visibility: hidden;
    }
    .ol-su-active {
        left: 0;
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }
    .ol-btn {
        margin-top: 5px;
    }
}
